@charset "UTF-8";
food-macro-accordion .tabs {
  border-radius: 8px;
  overflow: hidden;
}
food-macro-accordion .tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
food-macro-accordion .tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
food-macro-accordion .tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-weight: bold;
  cursor: pointer;
}
food-macro-accordion .tab-label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
food-macro-accordion .tab-content {
  max-height: 0;
  padding: 0 1em;
  transition: all 0.35s;
}
food-macro-accordion .tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: blue;
  cursor: pointer;
}
food-macro-accordion input:checked + .tab-label::after {
  transform: rotate(90deg);
}
food-macro-accordion input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 0 1em 0.5em;
}
